body {
  margin: 0; /* Remove default browser margin */
  padding: 0; /* Remove default browser padding */
  font-family: Arial, sans-serif; /* Optional font style */
  background-color: #212121; /* Optional dark background color for your app */
}
